@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --color-gray-50: #f9fafb;
    --color-gray-100: #f3f4f6;
    --color-gray-200: #e5e7eb;
    --color-gray-300: #d1d5db;
    --color-gray-400: #9ca3af;
    --color-gray-500: #6b7280;
    --color-gray-600: #4b5563;
    --color-gray-700: #374151;
    --color-gray-800: #1f2937;
    --color-gray-900: #111827;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input[type="text"], 
input[type="email"], 
input[type="password"],
input[type="number"],
input[type="file"],
select, 
textarea {
  @apply px-3 py-2 w-full max-w-xl border border-gray-300 rounded-md bg-none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

option {
  @apply bg-white dark:bg-gray-800;
}
